@charset "UTF-8";

	#promos {
	    margin: 0 auto;
	    width: 100%;
	    margin-top: 10px;
	    margin-bottom: 20px;
	    display: none;
	}

	#promosTitle {
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}

	#promoMsg {
	    max-width: 450px;
    	margin: 0 auto;
    	text-align: center;
   }

	/* Used for Scroll Box Layout
	----------------------------------------------- */

	#promoBoxes {
		margin: 0 auto;
		width: 94%;
		padding-left: 5px;
		padding-right: 5px;
		/*border: 2px solid red;*/
	}

	#promoNav {
		position: absolute;
		width: 100%;
		top: 40%;
		z-index: 1;
	}

	#promoNavPrev {
		float: left;
	}

	#promoNavNext {
		float: right;
	}

	/* Used for GridBox Layout
	----------------------------------------------- */

	#promoGridBoxes {
		width: 100%;
    	text-align: center;
		margin: 0 auto;
		/*border: 2px solid blue;*/
		margin-top: 10px;
	}

	#promoGridBox {
		width: 230px;
    	height: 100%;
		display: inline-block;
	    margin: 2px;
		list-style: none;
		/*border: 1px solid red;
		padding: 10px;"*/
	}

	#promoGridBoxText {
	 	/*text-align: center;
	 	font-weight: bold;
	 	line-height: 25px;'*/

	 	font-size: 16px; line-height: 18px; padding-bottom: 5px;
	}

	#promoGridBoxImage {
		/*background-color: #f3f1f1;*/
	    height: 151px;
	    border: 1px solid black;
	    width: 100%;
	}

	#promoGridBoxImage img {
		height: 100%;
    	overflow: hidden;
		height: 80px;
		margin: 0px auto;
		display: block;
	}
	
	#promoGridBoxText {
    	font-family: Montserrat, "Helvetica Neue", sans-serif;
	}

	/* =Responsive Structure
	----------------------------------------------- */
	@media (max-width: 950px) {

	 	#promoGridBoxes {
			/*width: 720px*/
		}
	}

	@media (max-width: 700px) {

	 	#promoGridBoxes {
			/*width: 480px*/
		}
	}

	@media (max-width: 510px) {

		#promoGridBoxes {
			/*width: 240px;*/
		}
	}