
	/***************************************************/
	/* Ocean Resorts Overrides                         */
	/***************************************************/
	
	#mosCenter {	
		/*padding-left: 25px;
    	padding-right: 25px;*/
    	 background-color: white; 
    }
	
	#mosCenterleft {
	    width: 80% !important;
	    float: none  !important; 
	    padding-right: 0px  !important;
	    margin: 0 auto;
	}
	
	#mosCenterRight {
		width: 100% !important;
	    float: none  !important;
	    margin: 0 auto;
	}
	
	#mosPopupCenter {
		background-color: white;
	}
	
	#mosContentChoices {
		display: none  !important;
	}
	
	#sliderBook {
	    width: 800px;
	}

	#promos {
	    margin-top: 20px !important;
	}
	
	#bookletTitle {
	    display: none;
	}
	
	#promosTitle div {
		width: 90%; margin: 0 auto;
	}
	
	#choicesSliderThumbTitle {
	    font-size: 12px; 
	    line-height: 1.25;
	    font-weight: 500;
	    font-family: Montserrat, "Helvetica Neue", sans-serif;
	}
		
	#promoGridBoxes {
	    margin-top: 30px;
	}
	
	#promoGridBoxImage {
	    background-color: #f3f1f1;  
	    border: 0px solid #000000;
	}
	
	.mos-prev-medium {
		background-color: #10cfc9 !important;
	    background-image: url(../slick-1.8.0/slick/images/icon-prev-30.png);
	}
	
	.mos-next-medium {
		background-color: #10cfc9 !important;
	    background-image: url(../slick-1.8.0/slick/images/icon-next-30.png);
	}
		
	button.mos-prev-medium:hover, button.mos-prev-medium:focus {
	    background-image: url(../slick-1.8.0/slick/images/icon-prev-30.png);
	    background-repeat: no-repeat;
	    width: 30px !important;
	    height: 30px !important;
	    border-radius: 5px;
	    background-color: #10cfc9;
	    color: white;
	    border: 0px;
	    position: absolute;
	    left: -45px;
	    top: 50%;
	    padding: 0px;
	}
	
	button.mos-next-medium:hover, button.mos-next-medium:focus {
	    background-image: url(../slick-1.8.0/slick/images/icon-next-30.png);
	    background-repeat: no-repeat;
	    width: 30px !important;
	    height: 30px !important;
	    border-radius: 5px;
	    background-color: #10cfc9;
	    color: white;
	    border: 0px;
	    position: absolute;
	    right: -45px;
	    top: 50%;
	    padding: 0px;
	}
	
	.mos-prev-small {
	    background-color: #10cfc9 !important;
	    background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	    top: 30% !important;
	}
	
	.mos-next-small {
	    background-color: #10cfc9 !important;
	    background-image: url(../slick-1.8.0/slick/images/icon-next-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	    top: 30% !important;
	}
		
	button.mos-prev-small:hover, button.mos-prev-smallx:focus {
	    background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png);
	    background-repeat: no-repeat;
	    width: 20px !important;
	    height: 20px !important;
	    border-radius: 5px;
	    background-color: #10cfc9;
	    color: white;
	    border: 0px;
	    position: absolute;
	    left: -45px;
	    top: 50%;
	    padding: 0px;
	}
	
	button.mos-next-small:hover, button.mos-next-small:focus {
	    background-image: url(../slick-1.8.0/slick/images/icon-next-20.png);
	    background-repeat: no-repeat;
	    width: 20px !important;
	    height: 20px !important;
	    border-radius: 5px;
	    background-color: #10cfc9;
	    color: white;
	    border: 0px;
	    position: absolute;
	    right: -45px;
	    top: 50%;
	    padding: 0px;
	}
	
	button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus {
    	background: none;
    }
		
	.BookLeftNav {
	    background-color: #10cfc9 !important;
	}
	
	.BookRightNav {
	    background-color: #10cfc9 !important;
	}
		
	:focus {
    	outline-color: #10cfc9;
	}

	#firstTimeUser input {
	    padding: 0 !important;
	}
	
	#mosContentWrapper {
	    width: 80% !important;
	    margin: 0 auto;
	    border: 1px solid black;
	    padding-right: 30px !important;
    	padding-left: 30px !important;
	}
	
	#MOS {
		font-weight: bold !important;
		font-size: 25px   !important;
		font: 14px "gotham_book", "Arial", "Helvetica", sans-serif   !important;
		padding: 0px  !important;
		text-align: center  !important;
	}
		
	#promoGridBoxImage {
	    border: 0px !important;
	}
	
	/***************************************************/
	/* Responsive Structure */
	/***************************************************/
	
	@media only screen and (max-width: 1112px) {
	/*@media only screen and (max-width: 1024px) {*/
			
		.BookLeftNav {
		    background-color: #10cfc9 !important;
		}
		
		.BookRightNav {
		    background-color: #10cfc9 !important;
		}
			
		.site-main {
		    padding: 0px !important;
		}
	}
	
	@media only screen and (max-width: 800px) {
		
		.BookLeftNav {
		    background-color: #10cfc9 !important;
		}
		
		.BookRightNav {
		    background-color: #10cfc9 !important;
		}
			
		.site-main {
		    padding: 0px !important;
		}
	}

	@media only screen and (max-width: 640px) {
	
		button.mos-prev-medium:hover, button.mos-prev-medium:focus {
			background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}
			
		button.mos-next-medium:hover, button.mos-next-medium:focus {
			background-image: url(../slick-1.8.0/slick/images/icon-next-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}
						
		.BookLeftNav {
		    background-color: #10cfc9 !important;
		}
		
		.BookRightNav {
		    background-color: #10cfc9 !important;
		}
			
		.site-main {
		    padding: 0px !important;
		}
	}

	@media only screen and (max-width: 375px) {
	
		button.mos-prev-medium:hover, button.mos-prev-medium:focus {
			background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}
			
		button.mos-next-medium:hover, button.mos-next-medium:focus {
			background-image: url(../slick-1.8.0/slick/images/icon-next-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}
		
		.BookLeftNav {
		    background-color: #10cfc9 !important;
		}
		
		.BookRightNav {
		    background-color: #10cfc9 !important;
		}
					
		.site-main {
		    padding: 0px !important;
		}
	
	}

	@media only screen and (max-width: 360px) {
	
		button.mos-prev-medium:hover, button.mos-prev-medium:focus {
			background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}
			
		button.mos-next-medium:hover, button.mos-next-medium:focus {
			background-image: url(../slick-1.8.0/slick/images/icon-next-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}
		
		.BookLeftNav {
		    background-color: #10cfc9 !important;
		}
		
		.BookRightNav {
		    background-color: #10cfc9 !important;
		}
					
		.site-main {
		    padding: 0px !important;
		}
		
	}

	@media only screen and (max-width: 320px) {	
		
		button.mos-prev-medium:hover, button.mos-prev-medium:focus {
			background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}
			
		button.mos-next-medium:hover, button.mos-next-medium:focus {
			background-image: url(../slick-1.8.0/slick/images/icon-next-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}
		
		.BookLeftNav {
		    background-color: #10cfc9 !important;
		}
		
		.BookRightNav {
		    background-color: #10cfc9 !important;
		}
				
		.site-main {
		    padding: 0px !important;
		}
		
	}
