@charset "UTF-8";

#questionsContainer {
   	/*border: 1px solid yellowgreen;*/
   	max-width: 475px;
   	margin: 0 auto;
}


#questionTitle {
	text-align: center;
	margin: 0 auto;
}

#questionBox {
	/*width: 550px;*/
    margin: 0 auto;
    margin-bottom: 20px;
    /*border: 2px solid #af976d;*/
}

#questionBoxTitle {
	width: 100%;
	/*margin-bottom: 20px;*/
	text-align: center;
	font-size: 39px;
	font-family: 'Raleway', sans-serif;
}

#questionBoxImg {
	/*width: 90px;
	  top: 32px;
	  left: 15px;
	  position: absolute;*/
	/*height: 75px;*/
	width: 125px;
	float: right;
	padding-right: 10px;
}

#questionBoxQuestion {
	margin: 0 auto;
	width: 90%;
	height: auto; 
	text-align: center;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	font-weight: normal;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

#questionBoxQuestion p {
  		position: relative;
  		top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
  		font-weight: normal;
		font-size: 17px;
		font-family: 'Montserrat', sans-serif;
}


#question {
	height: 100%;
	width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#questionAnswers {
}

#ContinueButton {
	width: 100%;
	background-color: #000;
	color: #fff;

	height: 30px;
	text-align: center;
	display: inline-block; 

	/*background-image: url(/images/button-overlay.png);*/
	background-repeat: repeat-x;
	font-size: 20px;
	font-weight: bold;
	/* text-shadow: 2px 2px 1px #000000; */
	text-decoration: none;
	margin-top: 20px;
}

#SkipButton {
    width: 100%;
    /* background-color: #000; */
    color: #0c0c0c;
    height: 30px;
    text-align: center;
    display: inline-block;
    /* background-image: url(/images/button-overlay.png); */
    background-repeat: repeat-x;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    border: 1px solid black;
}

#formQ	{

}

#questionButtons	{
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#questionChoices {
	 margin-top: 97px;
	 margin-left: 80px;
	 position: absolute;
	 /* top: 90px; */
	 /* left: 45px; */
	 /* line-height: 18px; */
	 /* margin-left: 55px; */
	 /* width: 100%; */
	 font-weight: normal;
	 font-size: 12px;
	 z-index: 1;
}

#questionButtons label {
	padding: 0px;
    margin: 0px;
    /*float: left;*/
    padding-left: 3px;
	width: 210px;
    font-weight: normal;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    z-index: 1;
    vertical-align: text-bottom;
    display: inline !important;
}

#questionButtons input {
	font-weight: normal;
	z-index: 1;
	float: left;
    width: 17px;
    height: 17px;
}


#errorMessage {
	 text-align: center;
	 width: 100%;
	 /*padding: 10px 0px 0px 0px;*/
     height: auto;
	 color: red;
	 font-weight: bold;
	 font-size: 16px;
}

.radio_contain {
    -webkit-backface-visibility: hidden;
    /*background: #ddd5c1;*/
    /*width: 370px;*/
    overflow: hidden;
}

#submitButton {
	width: 100%;  
}

#skipButton {
	width: 100%;  
}

	/* =Responsive Structure
	----------------------------------------------- */
		
	@media (max-width: 700px) {
	
		#questionBox {
			width: 320px;
		}

		#questionButtons label{
			font-size: 12px;
		}
		
		#questionButtons input{
			width: 11px;
    		height: 11px;
    		margin-top: 3px;
		}

		.radio_contain {
			/*width: 250px;*/
			width: 100%;
		}
	}

	@media (max-width: 500px) {

		#questionBox {
			width: 300px;
		}

		#questionButtons input{
			width: 11px;
    		height: 11px;
    		margin-top: 3px;
		}		
		
		#questionButtons label{
			font-size: 12px;
		}

		.radio_contain {
			/*width: 250px;*/
			width: 100%;
		}
	}
	
	@media (max-width: 320px) {

		#questionBox {
			width: 295px; 
		}

		#questionButtons input{
			width: 11px;
    		height: 11px;
    		margin-top: 3px;
		}		
		
		#questionButtons label{
			/*font-size: 12px;*/
		}

		.radio_contain {
			/*width: 250px;*/
			width: 100%;
		}
	}
