	#ThumbNavContainer
	{
		position:relative;
		padding-top:15px;
		margin-top:0px;
		margin-bottom:10px;
		margin-left:auto;
		margin-right:auto;
		/* width: 775px; */
		height:70px;
		/*background-color: white;*/
	}
	/*
	#ThumbNavContainer
	{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	*/

	.ThumbNav
	{
		text-align: center;
	    width: 100% !important;
	   	margin-top: 15px;
		/*background-color: yellow;*/
	}

	.ThumbNav ul { 
		padding: 0;
		margin: 0;
		height: 80px !important;
		text-align: center !important;
		list-style: inside !important;
	}
		
	.ThumbNav ul li { 
		list-style: none; display: inline;
	}

	.ThumbNavNums {
	    text-align: center;
	    width: 100%;    
	    height: 25px;
	    margin-top: -20px; 
	}
	
	.ThumbNavNums ul {
		text-align: center !important;
		list-style: inside !important;
		height: 80px !important;
		padding: 0px;
	}
	
	.ThumbNavNums ul li { 
		list-style: none; display: inline;
	}

	.ThumbNavNums a {
	    text-decoration: none;
	}

	#ihover
	{
		border:0;
		float:left; *
		padding:0px;
		/*width: 50px;*/
	    	height: 55px;
	}

	#ihover2:hover
	{
		border:1;
		width:80px;
		height:60px;
	}

	#DivHover:hover {
	   /*border: solid #887D73;*/
	   border:2px solid white;
	}
	.ThumbAnchor:link {
		color: #999999;
	}
	.ThumbAnchor:visited {
		color: #999999;
	}
	.ThumbAnchor:hover {
		color: #999999;
	}
	.ThumbAnchor:active {
		color: #999999;
	}
	
	.ThumbAnchor.selected {
		color: white;
	}

	.ThumbAnchor {
		display: inline-block !important;
		padding-left: 2px;
    		padding-right: 2px;
		font-family: Arial;
		color: #999999;
	}
